---
import FaqItem from "@/components/FaqItem.astro";
import PageHeader from "@/components/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const getPathWithoutLocale = (path: string): string => {
  const segments = path.split("/").filter(Boolean);
  return segments.slice(1).join("/") || "/";
};

const currentPathWithoutLocale = getPathWithoutLocale(Astro.url.pathname);
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);


const faqs = [
  {
    question: translateLabels("apolos.faqs.0.question"),
    answer: translateLabels("apolos.faqs.0.answer"),
  },
  {
    question: translateLabels("apolos.faqs.1.question"),
    answer: translateLabels("apolos.faqs.1.answer"),
  },
  {
    question: translateLabels("apolos.faqs.2.question"),
    answer: translateLabels("apolos.faqs.2.answer"),
  },
  {
    question: translateLabels("apolos.faqs.3.question"),
    answer: translateLabels("apolos.faqs.3.answer"),
  },
  {
    question: translateLabels("apolos.faqs.4.question"),
    answer: translateLabels("apolos.faqs.4.answer"),
  },
];

const headerText = {
  title: translateLabels("apolos.header.title"),
  highlightedWord: translateLabels("apolos.header.highlightedWord"),
  description: translateLabels("apolos.header.description"),
};

const contactText = {
  question: translateLabels("apolos.contact.question"),
  buttonText: translateLabels("apolos.contact.buttonText"),
}


const pageTitle = `${translateLabels("apolos.header.title")} ${translateLabels("apolos.header.highlightedWord")} | ${translateLabels("site.title")}`;

---

<Layout title={pageTitle}>
  <main class="min-h-screen px-8">
    <PageHeader
      title={headerText.title}
      highlightedWord={headerText.highlightedWord}
      description={headerText.description}
    />

    <div class="max-w-[90rem] mx-auto">
      <div class="grid gap-8 mb-8">
        {faqs.map((faq) => <FaqItem {...faq} />)}
      </div>

      <div class="text-center py-16 bg-secondary dark:bg-dark/50 rounded-3xl">
        <p class="text-xl mb-6">{contactText.question}</p>
        <a
          href={getRelativeLocaleUrl(currentLang, "contact")}
          class="inline-flex items-center px-8 py-4 bg-accent text-dark rounded-full text-lg font-bold hover:bg-opacity-90 transition-colors"
        >
          {contactText.buttonText}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6 ml-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
        </a>
      </div>
    </div>
  </main>
</Layout>