---
import HeroSection from "@/components/HeroSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "photoswipe/style.css";
import SimpleHeroSection from "@/components/SimpleHeroSection.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Cta from "@/components/Cta.astro";
import GalleryModal from "@/components/GalleryModal.astro";

const currentLang = Astro.currentLocale || "es";


const categories = [
  {
    id: "dana",
    name: "Proyecto DANA",
    description: "Ayuda y reconstrucción tras las inundaciones",
    cover: "/assets/img/gallery/mires_dana_7.avif", 
  },
  {
    id: "food",
    name: "Alimentando Esperanza",
    description: "Distribución de alimentos y recursos básicos",
    cover: "/assets/img/gallery/mires_alimentando_esperanza_7.avif",
  },
  {
    id: "events",
    name: "Eventos Solidarios",
    description: "Actividades y encuentros comunitarios",
    cover: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_2.avif",
  },
  {
    id: "volunteers",
    name: "Voluntariado",
    description: "Nuestro equipo en acción",
    cover: "/assets/img/gallery/mires_voluntarios_portada.avif",
  },
];


const images = [
  // Alimentando Esperanza
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_19.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_2.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_3.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_20.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_5.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_6.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_14.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_23.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  {
    src: "/assets/img/gallery/mires_alimentando_esperanza_13.avif",
    alt: "Alimentando Esperanza - MIRES",
    category: "food",
  },
  // Proyecto DANA
  {
    src: "/assets/img/gallery/mires_dana_1.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_2.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_3.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_4.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_5.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_6.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_23.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_8.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },
  {
    src: "/assets/img/gallery/mires_dana_21.avif",
    alt: "Proyecto DANA - MIRES",
    category: "dana",
  },

  // Eventos
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_1.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
 
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_3.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_4.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_5.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_6.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_7.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_11.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_10.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },
  {
    src: "/assets/img/gallery/mires_mas_que_un_regalo_navidad_9.avif",
    alt: "Eventos Solidarios - MIRES",
    category: "events",
  },

  // Voluntarios
  {
    src: "/assets/img/gallery/mires_voluntarios_portada.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_voluntarios.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_colaboradores_5.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_voluntariado_3.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_colaboradores_7.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_colaboradores_8.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_colaboradores_4.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_voluntariado_2.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
  {
    src: "/assets/img/gallery/mires_voluntariado_1.avif",
    alt: "Voluntarios - MIRES",
    category: "volunteers",
  },
];

const heroData = {
  title: "Galería de Imágenes",
  description:
    "Un recorrido visual por nuestro trabajo y el impacto en la comunidad."
  };

const ctaData = {
  title:"¿Quieres colaborar con el Proyecto DANA?",
  description: "En MIRES, estos valores no son solo palabras. Son nuestra forma de vivir, servir y transformar vidas.",
  contactLink: getRelativeLocaleUrl(currentLang, "contact"),
  donateLink: getRelativeLocaleUrl(currentLang, "donate"),
  contactText: "Contáctanos",
  donateText: "Donar",
};
---

<BaseLayout title="Galería - MIRES">
  <!-- Hero Section -->
  <SimpleHeroSection {...heroData} />

  <!-- Cuadrícula de Categorías -->
  <section class="py-16 bg-lightbg dark:bg-darkbg">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
          categories.map((category) => (
            <button class="category-card group" data-category={category.id}>
              <div class="relative overflow-hidden rounded-2xl shadow-lg aspect-[16/9]">
                <img
                  src={category.cover}
                  alt={category.name}
                  class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-500"
                />
                <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/50 to-transparent">
                  <div class="absolute bottom-0 left-0 right-0 p-6 text-left">
                    <h3 class="text-2xl font-bold text-white mb-2">
                      {category.name}
                    </h3>
                    <p class="text-white/90">{category.description}</p>
                  </div>
                </div>
              </div>
            </button>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Modal de Galería -->
  <GalleryModal categories={categories} images={images} />

  <Cta
    {...ctaData}
  />
</BaseLayout>

<style>
  .category-card {
    @apply w-full transform hover:-translate-y-1 transition-all duration-300;
  }
</style>

